# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files (NEVER commit these!)
.env
.env.local

# typescript
*.tsbuildinfo
expo-env.d.ts

# Firebase
*-debug.log
*-debug.*.log
*.log
functions/lib/

# Shared types should only contain .ts files
shared/**/*.js
shared/**/*.js.map
